.section-container {
	display: flex;
}
.foot-menu-buttons {
	list-style: none;
	display: flex;
	justify-content: space-between;
}
.toppnews-container {
	width: 100%;
	height: auto;
}

.news-image {
	width: 100%;
}

/* Andy Desktop */

@media screen and (min-width: 1024px) {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		margin: 0;
		font-family: Arial, sans-serif;
	}

	header {
		background-color: #333;
		color: white;
	}

	/* Top Nav Menu */
	.topbar {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 100;
		background-color: #333;
		height: 3rem;
		align-items: center;
	}

	.topbar-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 20px;
	}

	.topbar-menu-items {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		cursor: pointer;
	}

	.topbar-menu-item {
		margin-right: 15px;
		margin-top: 7px;
	}

	.search {
		margin-right: 30px;
	}

	#search-input {
		border-radius: 50px;
		padding-left: 5px;
		height: 2rem;
		outline: none;
		border: none;
		margin: 0;
	}

	.top-menu-right {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	/* Sidebar Nav Menu */

	.sidebar {
		height: 100%;
		width: 250px;
		background-color: #f4f4f4;
		height: 100%;
		position: fixed;
		top: 3rem;
		left: -250px;
		bottom: 0;
		z-index: 99;
		overflow-y: auto;
		padding: 3rem 20px;
		transition: 0.2s ease-in-out;
	}
	.sidebar-active {
		width: 250px;
		left: 0;
		transition: 0.3s ease-in-out;
	}

	.sidebar ul {
		list-style: none;
	}

	.sidebar ul li {
		margin-bottom: 1rem;
	}
}
