.section-container {
	display: flex;
}
.foot-menu-buttons {
	list-style: none;
	display: flex;
	justify-content: space-between;
}
.toppnews-container {
	width: 100%;
	height: auto;
}

.news-image {
	width: 100%;
}


/* Andy Desktop */

@media screen and (min-width: 1024px) {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		margin: 0;
		font-family: Arial, sans-serif;
	}

	header {
		background-color: #333;
		color: white;
	}

	/* Nav Topbar menu  */

	.topbar {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 100;
		background-color: #333;
		height: 3rem;
		align-items: center;
	}

	.topbar-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 20px;
	}

	.topbar-menu-items {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		cursor: pointer;
	}

	.topbar-menu-item {
		margin-right: 15px;
		margin-top: 7px;
	}

	/* Search input */

	.search {
		margin-right: 30px;
	}

	#search-input {
		border-radius: 50px;
		padding-left: 5px;
		height: 2rem;
		outline: none;
		border: none;
		margin: 0;
	}

	.top-login-menu-right {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	/* Nav sidebar menu  */
	.sidebar {
		height: 100%;
		width: 250px;
		background-color: #f4f4f4;
		height: 100%;
		position: fixed;
		top: 3rem;
		left: -250px;
		bottom: 0;
		z-index: 99;
		overflow-y: auto;
		padding: 3rem 20px;
		transition: 0.2s ease-in-out;
	}

	.sidebar-active {
		width: 250px;
		left: 0;
		transition: 0.3s ease-in-out;
	}

	.sidebar ul {
		list-style: none;
	}

	.sidebar ul li {
		margin-bottom: 1rem;
	}
}
/* Zabi login/ut */

#signup-body,
#signin-body {
    background-color: #344a72;
    font-family: "Roboto", sans-serif;
}
.signup-box{
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}
.Login-Box{
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 3px;
    background-color: white;

}
h1{
    text-align: center;
}
form{
    width: 300px;
    margin-left: 20px;

}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
 input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: rgb(27, 195, 139); 
    color: white;
    font-size: 18px;
 }
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;

}
.parat-2{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
}
.parat-2 a{
    color: #49c1a2;
}